body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.unit {
  padding: 1em;
}
