
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFFFFE;
}

@media only screen and (max-width: 578px) {
  body {
    padding: 16px;
  }
}

a {
  color: #00B7FF;
}

.section {
  padding: 1em;
  padding-bottom: 5px;
}

.section:hover {
  background-color: gold;
  border-bottom: 3px solid black;
  margin-bottom: -3px
}

.pageTitle {
  border-bottom: 3px solid gold;
  font-size: 4em;
  padding-top: 10%;
  padding-bottom: .25em;
  margin-bottom: 5%;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit
}

.componentTitle {
  font-size: 1.5em;
}

.component {
  padding: 10px;
  border: 2px solid royalblue;
  margin-bottom: 5px;
  border-radius: 5px;
}

.attribute {
  padding-left: 10px
}