
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFFFFE;
}

@media only screen and (max-width: 578px) {
  body {
    padding: 16px;
  }
}

a {
  color: #00B7FF;
}

.section {
  padding: 1em;
  padding-bottom: 5px;
}

.section:hover {
  background-color: gold;
  border-bottom: 3px solid black;
  margin-bottom: -3px
}

.pageTitle {
  border-bottom: 3px solid gold;
  padding-top: 10%;
  padding-bottom: .25em;
  margin-bottom: 5%;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit
}

.componentTitle {
  font-size: 1.5em;
}

.component {
  padding: 10px;
  border: 2px solid black;
  margin-bottom: 10px;
  border-radius: 2px;
}

.fade {
  opacity: .5;
}

.capitalize:first-letter {
  text-transform: uppercase;
}

.subsection {
  margin-bottom: 5em;
}


.toggleable-selected {
  border: none;
  background-color: skyblue;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}

input[type="checkbox"] + label {
  border-radius: 3px;
  border: 2px solid skyblue;
  background-color: snow;
  padding: 7px;
  cursor: pointer;
}

input[type='checkbox']:checked + label {
  border-color: snow;
  background-color: skyblue;
}

.resetLocalStorage {
  border-radius: 3px;
  border: none;
  background-color: gold;
  padding: 7px;
  margin-bottom: 1em;
}