extends layout

block content
  .container-md
    .row.g-2
      .col-sm-4 
        div.red.unit= 'red'
      .col-sm-4 
        div.blue.unit= 'blue'
      .col-sm-4 
        div.red.unit= 'red'
      .col-sm-4 
        div.blue.unit= 'blue'