extends layout

block content
  .row
    .display-1.pageTitle="My pretrip"
  .row.g-2
    each section in viewData
      a.section(href=`/sections/${section.kebabTitle}`)
        .sectionTitle.h3.capitalize= section.title
        p.text-muted.subtext #{section.subsectionsLength} subsections
