extends layout

block content
  .row
    .display-1.pageTitle="My pretrip"
  .row.g-2
    each section in sections
      a.section(href=`/sections/${section._id}`)
        .sectionTitle.h3.capitalize= section.title
