extends layout

block variables 
  - var pageTitle='My Pretrip'

block content
  .row.g-2
    each section in viewData
      a.section(href=`/sections/${section.kebabTitle}`)
        .sectionTitle.h3.capitalize= section.title
        p.text-muted.subtext #{section.subsectionsLength} subsections
