extends layout

block content
  .row
    .display-1.pageTitle="My pretrip"
  .row.g-2
    each title in sectionTitles
      a.section(href=`/sections/${title.replace(/\s+/g, '-').toLowerCase()}`)
        .sectionTitle.h3.capitalize= title
