extends layout 

block content 
  .row
    .col.d-flex.justify-content-end
      a(href='/sections' class='homeButton') home
  .row
    .pageTitle Login/Register
  .row
    h1 Login
    form(method='POST' action='http://localhost:3000/api/login' id='loginForm')
      label(for='email') Email
      br
      input(type='email' class='mb-2' id='email' name='email')
      br
      label(for='password') Password
      br
      input(type='password' class='mb-2' id='password' name='password')
      br
      button(type='submit') Login